@{
    ViewBag.Title = "Database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Testing database.</h1>
<h4 class="text-danger">@ViewBag.Message</h4>
<h3 class="text-danger">@ViewBag.Connection</h3>